*{
    font-family: "Montserrat", sans-serif;
    
}

header{
    background-color: #1C1678;
}

header a{
    color: #A1DD70;
    font-weight: bold;
}

.hero{
    background-color: #EAEAEA;
}

.nav-item a{
    color: #EAEAEA;
    font-weight: bold;
    
}

#boton-perfil{
    background-color: #8576FF;
    font-weight: bold;
    
}

.nav-item a:hover{
    background-color: #7BC9FF;
    color: #EAEAEA;

}

#app{
    
    color: #A1DD70;
}

.boton-cv{
    background-color: #A3FFD6;
    color: #EAEAEA;
    border-color: #8559A5;
    
}

.boton-cv a{
    text-decoration: none;
    color: #8559A5;
    font-weight: bold;
}

.boton-cv:hover{
    background-color: #00BDAA;
    color: #EAEAEA;
    border-color: #00BDAA;
    font-weight: bold;
}

.cajah {
    background-color: #0b0b0b;
    color: #8576FF;
}


.cajah h2{

    color: #A1DD70;
    font-weight: bold;
}

.cajah h3{

    color: #A1DD70;
    font-weight: bold;
}


.cajap {
    background-color: #020202;
    color: #7BC9FF;
}

.cajap h2{
    color: #7BC9FF;
    font-weight: bold;
}

.cajap .card{
    background-color: #7BC9FF;
    color: #020202;
}

.btn-proyecto a {
    text-decoration: none;
    color: #EAEAEA;
}

.btn-proyecto{
   
    background-color: #8559A5;
}

.cajat{
   
    background-color: #020202;
}

.cajat h2{
    color: #00BDAA;
    font-weight: bold;
}

.border-bottom{
    color: #050505;
    font-weight: bold;
}

.card .card-title{
   color: #8559A5;
   font-weight: bold;
}

.card .card-subtitle{
    color: #7BC9FF;
    font-weight: bold;
 }

.cajat .card {
    background-color: #020202;
    text-align: center;
    color: #00BDAA;
     
 }
 
 #contacto{
    background-color: #EAEAEA;
    color: #0d0d0d;
 }

 #contacto i{
    
    color: #0d0d0d;
 }

 #contacto h1{
    
    color: #A1DD70; 
 }

 #contacto p{
    
    color: #050505; 
    
 }

 #btn-contacto{
    color: #A3FFD6;
    background-color: #050505; 
    
 }

 #btn-contacto:hover{
    color: #8559A5;
    background-color: #A1DD70; 
    
 }

footer {
    background-color: #1C1678;
 } 
footer p a{
    color: #A3FFD6;
    text-decoration: none;
 }

 footer p{
    color: #EAEAEA;
 } 

.bi{
    color: #A1DD70;
    text-decoration: none;
 }